<div class="well well-small">
<ul>
    <li>Press the key corresponding to a cell type to add a count.</li>
    <li>Press 'Backspace' to remove last normal/abnormal cell entered.</li>
    <li>To flag a cell as abnormal press 'Space+Key'.</li>
    <li>Pressing and holding '1' will convert the raw count numbers to a percentage</li>
    <li>To see example images of the cells in question press 'Shift+Key'.</li>
    <li>Once your count is complete, click 'Close & display results' to see a tabulated report</li>
    <li>Continue counting where you left off using the green button above the report, or start a new count using the red button.</li>
</ul>
</div>
