<div id="keyboard-buttons"></div>
<div id="counterbox" style="position: relative; width: 100%" class="mobilekeyboard">
    <div id="keysbox" style="z-index: -1;">
        <!-- Row 1 -->
        <div id="boxholder1">
            <div class="box1 c1" id="up">
                <p>Up</p>
            </div>
        </div>
        <div id="boxholder2">
            <div class="box2 c1" id="left">
                <p>Left</p>
            </div>
            <div class="box2 c1" id="right" style="float: right">
                <p>Right</p>
            </div>
        </div>
        <div id="boxholder3">
            <div class="box1 c1" id="down">
                <p>Down</p>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" id="edit_button">Edit key map</button>
    <div id="buttonsbox">
        <button class="btn btn-danger reset_button" id="reset_button">Reset count</button>
        <button class="btn btn-success" id="close_button">Close &amp; display results</button>
    </div>
</div>
