<div class="well well-small">
<ul>
    <li>Drag your finger from the centre marker to the corresponding count box.</li>
    <li>Double-tap a count box to remove the last normal/abnormal cell entered.</li>
    <li>Start the drag with a double-tap to count an abnormal cell.</li>
    <li>Once your count is complete, click 'Close & display results' to see a tabulated report</li>
    <li>Continue counting where you left off using the green button above the report, or start a new count using the red button.</li>
</ul>
</div>
